

/* navigation */
.main-nav {

  /* box model */
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

}

.nav-links {

  /* box model */
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 800px;
  height: 36px;
  justify-content: flex-start;
  padding-left: 0;

  /* visual */
  background-image: linear-gradient(360deg, #747677 18px, #858A8C 18px);
  border-radius: 4px 0 0 4px;

}

.nav-elem{

  /* box model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 36px;

  /* visual */
  border-right: 0.5px solid;
  border-color: #8c8c8c;
}

.nav-elem:hover {

  /* visual */
  background-image: linear-gradient(360deg, #333333 18px, #737373 18px);
  cursor: pointer;
}

.apple img {
  width: 26px;
  height: 26px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: San Francisco;
}

.search-bar {

  /* box model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 36px;

  /* visual */
  background-image: linear-gradient(360deg, #747677 18px, #858A8C 18px);
  border-radius: 0 4px 4px 0;
}

.search-bar input[type="search"] {
  display: block;
  background-color: transparent;
  width: 100px;
  border-radius: 12px;
}

/* body */
.main-section {

  /* box model */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {

  /* box model */
  height: 700px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* visual */
  background: url("../img/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-header {

  /* box model */
  width: 980px;
  height: 104px;

  /* visual */
  background-image: url("../img/your_verse_title_medium.png");
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}

.hero-subheader1 {

  /* box model */
  width: 980px;
  height: 82px;

  /* visual */
  background-image: url("../img/your_verse_subhead_medium.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.hero-subheader2 {

  /* box model */
  margin-top: 40px;
  width: 980px;
  height: 31px;

  /* visual */
  background-image: url("../img/cta_your_verse_27pt.png");
  background-position: top;
}

.hero-subheader2:hover{
  background-image: url("../img/cta_your_verse_27pt.png");
  background-position: bottom;
}

.promo-section {

  /* box model */
   width: 1440px;
}

.promos {

  /* box model */
  display: flex;
  flex-direction: row;
  margin-left: -40px;
  margin-top: 0px;

  /* visual */
  list-style: none;
}

.promos img {
  width: 360px;
}
