

/* navigation */
.main-nav {

  /* box model */
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
}

.nav-text {
  visibility: hidden;
}

/* body */
.main-section {

  /* box model */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {

  /* box model */
  height: 700px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* visual */
  background: url("../img/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-header {

  /* box model */
  width: 980px;
  height: 104px;

  /* visual */
  background-image: url("../img/your_verse_title_medium.png");
  background-repeat: no-repeat;
  background-position: top;
}

.hero-subheader1 {

  /* box model */
  width: 980px;
  height: 82px;

  /* visual */
  background-image: url("../img/your_verse_subhead_medium.png");
  background-repeat: no-repeat;
}

.hero-subheader2 {

  /* box model */
  margin-top: 40px;
  width: 980px;
  height: 31px;

  /* visual */
  background-image: url("../img/cta_your_verse_27pt.png");
  background-position: top;
}

.hero-subheader2:hover{
  background-image: url("../img/cta_your_verse_27pt.png");
  background-position: bottom;
}

.promo-section {

  /* box model */
   width: 1440px;
}

.promos {

  /* box model */
  display: flex;
  flex-direction: row;
  margin-left: -40px;
  margin-top: 0px;

  /* visual */
  list-style: none;
}

.promos img {
  width: 360px;
}
